@font-face{font-family:'San Francisco Display';src:url('../fonts/sanfranciscodisplay-light-webfont.eot');src:url('../fonts/sanfranciscodisplay-light-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscodisplay-light-webfont.woff2') format('woff2'),url('../fonts/sanfranciscodisplay-light-webfont.woff') format('woff'),url('../fonts/sanfranciscodisplay-light-webfont.ttf') format('truetype'),url('../fonts/sanfranciscodisplay-light-webfont.svg#San Francisco Display light') format('svg');font-weight:300;font-style:normal;}
@font-face{font-family:'San Francisco Display';src:url('../fonts/sanfranciscodisplay-regular-webfont.eot');src:url('../fonts/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),url('../fonts/sanfranciscodisplay-regular-webfont.woff') format('woff'),url('../fonts/sanfranciscodisplay-regular-webfont.ttf') format('truetype'),url('../fonts/sanfranciscodisplay-regular-webfont.svg#San Francisco Display regular') format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:'San Francisco Display';src:url('../fonts/sanfranciscodisplay-medium-webfont.eot');src:url('../fonts/sanfranciscodisplay-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscodisplay-medium-webfont.woff2') format('woff2'),url('../fonts/sanfranciscodisplay-medium-webfont.woff') format('woff'),url('../fonts/sanfranciscodisplay-medium-webfont.ttf') format('truetype'),url('../fonts/sanfranciscodisplay-medium-webfont.svg#San Francisco Display medium') format('svg');font-weight:500;font-style:normal;}
@font-face{font-family:'San Francisco Display';src:url('../fonts/sanfranciscodisplay-black-webfont.eot');src:url('../fonts/sanfranciscodisplay-black-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscodisplay-black-webfont.woff2') format('woff2'),url('../fonts/sanfranciscodisplay-black-webfont.woff') format('woff'),url('../fonts/sanfranciscodisplay-black-webfont.ttf') format('truetype'),url('../fonts/sanfranciscodisplay-black-webfont.svg#San Francisco Display black') format('svg');font-weight:900;font-style:normal;}
@font-face{font-family:'San Francisco Text';src:url('../fonts/sanfranciscotext-regular-webfont.eot');src:url('../fonts/sanfranciscotext-regular-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscotext-regular-webfont.woff2') format('woff2'),url('../fonts/sanfranciscotext-regular-webfont.woff') format('woff'),url('../fonts/sanfranciscotext-regular-webfont.ttf') format('truetype'),url('../fonts/sanfranciscotext-regular-webfont.svg#San Francisco Text regular') format('svg');font-weight:400;font-style:normal;}
@font-face{font-family:'San Francisco Text';src:url('../fonts/sanfranciscotext-medium-webfont.eot');src:url('../fonts/sanfranciscotext-medium-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscotext-medium-webfont.woff2') format('woff2'),url('../fonts/sanfranciscotext-medium-webfont.woff') format('woff'),url('../fonts/sanfranciscotext-medium-webfont.ttf') format('truetype'),url('../fonts/sanfranciscotext-medium-webfont.svg#San Francisco Text medium') format('svg');font-weight:500;font-style:normal;}
@font-face{font-family:'San Francisco Text';src:url('../fonts/sanfranciscotext-bold-webfont.eot');src:url('../fonts/sanfranciscotext-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/sanfranciscotext-bold-webfont.woff2') format('woff2'),url('../fonts/sanfranciscotext-bold-webfont.woff') format('woff'),url('../fonts/sanfranciscotext-bold-webfont.ttf') format('truetype'),url('../fonts/sanfranciscotext-bold-webfont.svg#San Francisco Text bold') format('svg');font-weight:700;font-style:normal;}

/*Pre Loader*/
#loading{background-color:rgb(90,90,90);height:100%;width:100%;position:fixed;z-index:1;margin-top:0px;top:0px;}
#loading-center{width:100%;height:100%;position:relative;}
#loading-center-absolute{position:absolute;left:50%;top:50%;height:50px;width:200px;margin-top:-25px;margin-left:-100px;}
.object{width:20px;height:20px;background-color:#FFF;float:left;margin-top:15px;border-radius:50% 50% 50% 50%;}
#first_object{-webkit-animation:first_object 2s infinite;animation:first_object 2s infinite;}
#second_object{-webkit-animation:second_object 2s infinite;animation:second_object 2s infinite;}
@-webkit-keyframes first_object{
	25%{-webkit-transform:translate(90px,0) scale(2);transform:translate(90px,0) scale(2);}
	50%{-webkit-transform:translate(180px,0) scale(1);transform:translate(180px,0) scale(1);}
	75%{-webkit-transform:translate(90px,0) scale(2);transform:translate(90px,0) scale(2);}
}
@keyframes first_object{
	25%{-webkit-transform:translate(90px,0) scale(2);transform:translate(90px,0) scale(2);}
	50%{-webkit-transform:translate(180px,0) scale(1);transform:translate(180px,0) scale(1);}
	75%{-webkit-transform:translate(90px,0) scale(2);transform:translate(90px,0) scale(2);}
}
@-webkit-keyframes second_object{
	25%{-webkit-transform:translate(-90px,0) scale(2);transform:translate(-90px,0) scale(2);}
	50%{-webkit-transform:translate(-180px,0) scale(1);transform:translate(-180px,0) scale(1);}
	75%{-webkit-transform:translate(-90px,0) scale(2);transform:translate(-90px,0) scale(2);}
}
@keyframes second_object{
	25%{-webkit-transform:translate(-90px,0) scale(2);transform:translate(-90px,0) scale(2);}
	50%{-webkit-transform:translate(-180px,0) scale(1);transform:translate(-180px,0) scale(1);}
	75%{-webkit-transform:translate(-90px,0) scale(2);transform:translate(-90px,0) scale(2);}
}

/* Skills animation */
@-webkit-keyframes{
	load{0%{stroke-dashoffset:0;}
	}
}
@keyframes{
	load{0%{stroke-dashoffset:0;}
	}
}

/*Media transformation animation*/
section,
h1,
li,
img,
p,
i,
a,
.photo-title,
.photo-title:after,
.resume-download,
.vertical-header:after,
.column-resume,
.column-portfolio,
.column-contact,
.social-contacts,
footer{transition:width 1s ease-in-out,left 1.2s ease-in-out;}
.column-resume,
.column-portfolio,
.column-contact,
.social-contacts{transition:width 1s ease-in-out,bottom 1.5s ease-in-out;}

/*Main*/
html{background:rgb(255,255,255);	/*min-height: 100vh;*/font-family:'San Francisco Text';font-size:16px;font-weight:400;font-style:normal;display:-ms-flexbox;display:flex;display:-webkit-flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
body{min-width:880px;min-height:300px;margin:0;/*	padding: 0 15px;*/display:-ms-flexbox;display:flex;display:-webkit-flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex:auto;-ms-flex:auto;flex:auto;}
.wrapper{position:relative;width:100%;	/*height: 100vh;*/margin:0 auto;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;box-sizing:border-box;display:-ms-inline-flexbox;display:inline-flex;display:-webkit-inline-flex;}
.wrapper:after{content:'';clear:both;display:-ms-flexbox;display:flex;display:-webkit-flex;}

/*Menu for mobile devices*/
.mobile-menu .fa-bars{display:none;font-size:30px;cursor:pointer;color:rgb(90,90,90);}
.dd-menu{position:relative;display:none;}

/*Vertical menu styles*/
.vertical-header{position:relative;display:-ms-flexbox;display:flex;display:-webkit-flex;width:350px;height:100%;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;background:white;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.header-social-contacts{display:none;}

/*Vertical-header line*/
.vertical-header:after{position:absolute;top:0;left:350px;content:'';display:-ms-flexbox;display:flex;display:-webkit-flex;border-right:1px solid grey;min-height:261.5%;}

/*.vertical-header:before{
	position: absolute;
	top: 109%;
	left: 350px;
	content: '';
	display: flex;
	display: -webkit-flex;
	border-right: 1px solid grey;
	height: 152%;
}*/

/*Pic styles*/
.picture-wrapper{width:200px;height:200px;margin-top:10px;border-radius:50%;border:1px solid white;background:white;overflow:hidden;}
.picture-wrapper img{position:relative;top:-35px;}
.picture-wrapper-back{position:absolute;top:10px;left:74px;background:white;width:200px;height:200px;border-radius:50%;border:1px solid rgba(95,95,95,.7);}
.photo-title{display:-ms-inline-flexbox;display:inline-flex;display:-webkit-inline-flex;width:200px;text-indent:15px;padding-bottom:10px;	/*font-family: ;*/font-size:23px;color:grey;margin-top:35px;border-bottom:1px solid grey;}

/*Resume Download styles*/
.resume-download{position:relative;background:white;height:40px;width:160px;margin-top:35px;border-radius:10px;padding-top:20px;font-family:'San Francisco Display';font-size:19px;color:grey;border:1px solid grey;overflow:hidden;}
.resume-download:hover{border:1px dashed rgba(140,140,140,.9);}
.resume-download p{text-align:center;visibility:visible;}
.resume-download:hover p{text-align:center;visibility:hidden;}
.resume-download a{position:absolute;top:0;padding-top:20px;text-transform:uppercase;text-decoration:none;text-align:center;visibility:hidden;color:grey;width:80px;height:60px;cursor:pointer;}
.resume-download:hover a{visibility:visible;}
.resume-download-rus{position:relative;left:0;}
.resume-download-rus:after{position:absolute;top:0;left:80px;display:-ms-flexbox;display:flex;display:-webkit-flex;content:'';height:60px;border-right:1px dashed rgba(140,140,140,.9);}
.resume-download-eng{right:0;}
.resume-download-rus:active{box-shadow:2px 0 1px rgba(140,140,140,0.9);background:rgba(140,140,140,0.9);color:white;}
.resume-download-eng:active{box-shadow:-2px 0 1px rgba(140,140,140,0.9);background:rgba(140,140,140,0.9);color:white;}
.photo-title:after{position:absolute;top:415px;content:'';width:200px;display:-ms-flexbox;display:flex;display:-webkit-flex;border-bottom:1px solid grey;}

/*Column styles*/
.column p{display:none;text-transform:uppercase;font-weight:900;color:grey;padding-bottom:10px;}
.column i{font-size:60px;color:grey;padding-bottom:10px;}
.column{position:relative;display:-ms-flexbox;display:flex;display:-webkit-flex;width:25%;-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}

/*ДОДЕЛАТЬ АКТИВНЫЕ ПУНКТЫ МЕНЮ!!!!!!!!!!!!*/
.active{display:none;width:0;height:0;position:absolute;top:8px;left:189px;border-top:22px solid transparent;border-bottom:22px solid transparent;border-right:27px solid rgba(150,150,150,1.0);content:'';z-index:999;}
.column-resume{position:absolute;left:135px;bottom:-190px;}
.column-portfolio{position:absolute;left:135px;bottom:-374px;}
.column-contact{position:absolute;left:135px;bottom:-542px;}
.column:hover p{display:-ms-flexbox;display:flex;display:-webkit-flex;font-size:19px;margin-bottom:-20px;}
.column:hover i{font-size:54px;padding-bottom:5px;}
.column:hover{cursor:pointer;}

/*Column menu triangle*/
.column:hover:after{width:0;height:0;position:absolute;border-top:22px solid transparent;border-bottom:22px solid transparent;border-right:28px solid rgba(150,150,150,1.0);display:-ms-inline-flexbox;display:inline-flex;display:-webkit-inline-flex;content:'';left:187px;top:8px;z-index:999;}

/*.column:hover:before{
	width: 0;
	height: 0;
	position: absolute;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 27px solid rgba(150, 150, 150, 1.0);
	display: inline-flex;
	display: -webkit-inline-flex;
	content: '';
	left: -135px;
	top: 10px;
	z-index: 999;
}*/

/*Container styles*/
.container{position:absolute;display:-ms-flexbox;display:flex;display:-webkit-flex;height:100vh;width:81.6%;overflow:hidden;}
.hide-scroll{position:absolute;display:-ms-flexbox;display:flex;display:-webkit-flex;height:100vh;width:103%;overflow-x:none;overflow-y:scroll;}

/*::-webkit-scrollbar{
	width: 0;
}*/

/*.typing{
	position: relative;
	margin-top: 43px;
	margin-left: 20%;
	font-size: 24px;
	width: 72%;
	color: grey;
	line-height: 33px;
}*/

/*.container .for-show visibility*/
.container .for-show{display:none;}
.for-show h1{font-family:'San Francisco Text';font-size:40px;font-weight:600;color:grey;margin:25px 0 0 50px;}
.cont-title {position: relative;top: 25%;left: 21%;height: 100px;width: 50%;}
.cont-title span {display: flex;font: 600 normal 27px 'San Francisco Display';	color: grey;text-align: center;}

/*Resume styles*/
.resume-for-show{}
.experience li,
.education li{position:absolute;font-size:.9vw;list-style-type:none;cursor:pointer;transition:font-size .5s .2s ease-in;-webkit-transition:font-size .5s .2s ease-in;}
.experience li:hover,
.education li:hover{font-size:14px;}
.experience li:nth-child(1){top:7.3vmax;right:26.9vw;}
.experience li:nth-child(2){top:6.7vmax;right:8.5vw;}
.experience li:nth-child(3){top:12.7vmax;right:27.5vw;}
.experience li:nth-child(4){top:12.1vmax;right:11.2vw;}
.experience li:nth-child(5){top:18vmax;right:29vw;}
.education li:nth-child(1){top:35.6vmax;right:27.6vw;}
.education li:nth-child(2){top:31.4vmax;right:10.5vw;}
.education li:nth-child(3){top:27.1vmax;right:27.7vw;}
.education li:nth-child(4){top:26vmax;right:10.4vw;}
.canvas{position:absolute;width:52%;top:20px;left:45%;}
.resume-for-show .title{position:absolute;font-size:1.3vw;color:grey;font-weight:600;}
.resume-for-show span:nth-child(2){left:67%;top:3vh;}
.resume-for-show span:nth-child(4){left:67.5%;top:21vw;}

/*Skill SVG styles*/
.skills{position:relative;top:80vh;left:1vw;display:-ms-flexbox;display:flex;display:-webkit-flex;padding:0;text-align:center;}

/* Item */
.skills > li{display:-ms-inline-flexbox;display:inline-flex;display:-webkit-inline-flex;position:relative;text-align:center;color:#93A2AC;font-family:Lato;font-weight:100;margin:0 2rem 0 0;}
.skills > li:before{content:attr(data-name);position:absolute;width:135%;bottom:-2rem;left:-15px;font-weight:400;}
.skills > li:after{content:attr(data-percent);position:absolute;width:100%;top:2.1rem;left:0.2rem;font-size:0.9rem;text-align:center;}
.skills svg{width:5rem;height:5rem;}
.skills svg:nth-child(2){position:absolute;left:0;top:0;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);}
.skills svg:nth-child(2) path{fill:none;stroke-width:25;stroke-dasharray:629;stroke:rgba(255,255,255,0.9);-webkit-animation:load 10s;animation:load 10s;}

/*Portfolio styles*/
.portfolio-for-show{position:relative;}
.sort-list{position:relative;margin:45px 0 10px 45px;}
.sort-list input[type=button]{margin:0 10px 0 0;padding:10px 20px;border:1px solid grey;border-radius:5px;background:white;color:grey;}
.sort-list input[type=button]:hover,
.sort-list input[type=button]:focus,
.sort-list input[type=button]:active{background:rgb(170,170,170);border:0;padding:11px 21px;color:white;cursor:pointer;}
.container-items{position:relative;margin:30px 0 0 1%;}
.item-box{position:relative;display:-ms-inline-flexbox;display:inline-flex;display:-webkit-inline-flex;margin:10px 0 30px 2.5%;width:450px;height:245px;border:1px solid rgb(225,225,225);border-radius:5px;overflow:hidden;cursor:pointer;}
.bg-layout{position:absolute;display:-ms-flexbox;display:flex;display:-webkit-flex;-ms-flex-direction:column;flex-direction:column;-webkit-flex-direction:column;-ms-flex-align:center;align-items:center;-webkit-align-items:center;-ms-flex-pack:distribute;justify-content:space-around;-webkit-justify-content:space-around;opacity:0;top:0;left:0;width:450px;height:245px;border-radius:5px;transition:background .5s .2s ease-in-out,opacity .5s .2s ease-in-out;-webkit-transition:background .5s .2s ease-in-out,opacity .5s .2s ease-in-out;}
.item-box .bg-layout:hover{opacity:1;background:rgba(0,0,0,.8);}
.bg-layout h1{font-size:30px;padding:0 0 5px 0;margin:0 0 0 -10px;color:white;text-transform:uppercase;border-bottom:2px solid white;}
.bg-layout span{font-size:16px;color:white;}
.container-items img{display:-ms-flexbox;display:flex;display:-webkit-flex;width:100%;}

/*Contacts styles*/
.contact-for-show{position:relative;width:100%;height:800px;}
.social-contacts{position:relative;top:170px;left:40%;width:290px;text-indent:12px;font-size:41px;border-top:1px solid grey;border-bottom:1px solid grey;line-height:100px;}
.social-contacts:hover{border-top:1px dashed grey;border-bottom:1px dashed grey;}
.social-contacts a i{padding-right:10px;color:rgb(100,100,100);}
.social-contacts .fa-twitter{padding-right:0;}
.social-contacts .fa-linkedin-square:hover{color:rgb(40,90,255);}
.social-contacts .fa-github:hover{color:rgb(200,15,0);}
.social-contacts .fa-facebook-square:hover{color:rgb(40,65,145);}
.social-contacts .fa-twitter:hover{color:rgb(30,140,255);}
iframe{position:relative;width:99%;height:500px;top:387px;left:1px;}

/*Footer styles*/
footer{position:absolute;top:765px;right:-150px;margin-top:10px;}
.copy-rights{	/*font-family: ;*/
font-size:10px;color:grey;}
.copy-rights i{text-decoration:underline;font-style:italic;}

/*@media styles*/
@media all and (max-height:800px){
	.vertical-header:before{height:150%;}
}
@media all and (max-width:1600px){
	.wrapper{width:89%;margin:0;}
	.picture-wrapper{width:180px;height:180px;}
	.picture-wrapper img{top:-41px;left:-12px;}
	.picture-wrapper-back{width:180px;height:180px;top:10px;left:84px;}
	.photo-title{margin-top:20px;width:190px;}
	.photo-title:after{top:378px;width:190px;}
	.resume-download{width:140px;font-size:16px;}
	.resume-download p{height:23px;padding-top:3px;}
	.resume-download a{padding-top:23px;width:70px;}
	.resume-download-rus{left:0;}
	.resume-download-eng{right:0;}
	.resume-download-rus:after{left:70px;}
	.vertical-header:after{min-height:235.9%;}
	.column i{font-size:50px;}
	.column:hover i{font-size:46px;}
	.column:hover p{font-size:17px;}
	.column:hover:after{left:188px;}
	.column-resume{bottom:-150px;}
	.column-portfolio{bottom:-260px;}
	.column-contact{bottom:-370px;}
	.container{width:87.5%;}
	.experience li,
	.education li{font-size:.8vw;}
	.experience li:nth-child(1){top:7.1vmax;right:26vw;}
	.experience li:nth-child(2){top:6.6vmax;right:8.5vw;}
	.experience li:nth-child(3){top:12.2vmax;right:26.5vw;}
	.experience li:nth-child(4){top:11.7vmax;right:11vw;}
	.experience li:nth-child(5){top:17.4vmax;right:28vw;}
	.education li:nth-child(1){top:34vmax;right:27vw;}
	.education li:nth-child(2){top:30vmax;right:10.5vw;}
	.education li:nth-child(3){top:26vmax;right:26.7vw;}
	.education li:nth-child(4){top:25vmax;right:10vw;}
	.skills{left:2vw;top:81vh;}
	.skills > li:before{width:135%;font-size:0.9rem;left:-11px;}
	.skills > li:after{top:1.7rem;left:0.1rem;font-size:0.7rem;}
	.skills svg{width:4rem;height:4rem;}
	.social-contacts{left:37%;top:150px;}
	iframe{top:307px;height:400px;}
}
@media all and (max-width:950px){
	.social-contacts{left:55%;top:290px;}
}
@media all and (max-width:568px){
	body{width:100vw;height:100vh;overflow:hidden;}
	.vertical-header{height:100%;width:220px;left:0px;}
	.vertical-header:after{left:220px;height:100vh;}
	.header-social-contacts{position:absolute;bottom:-170px;left:32px;display:flex;display:-webkit-flex;width:160px;text-indent:5px;font-size:20px;line-height:32px;}
	.header-social-contacts a i{padding-right:10px;color:rgb(100,100,100);}
	.header-social-contacts .fa-twitter{padding-right:0;}
	.header-social-contacts .fa-linkedin-square:hover{color:rgb(40,90,255);}
	.header-social-contacts .fa-github:hover{color:rgb(200,15,0);}
	.header-social-contacts .fa-facebook-square:hover{color:rgb(40,65,145);}
	.header-social-contacts .fa-twitter:hover{color:rgb(30,140,255);}
	.picture-wrapper{display:none;}
	.picture-wrapper-back{display:none;}
	.photo-title{display:none;}
	.resume-download{position:absolute;margin:0;bottom:-113px;left:40px;height:25px;width:136px;padding-top:8px;font-size:13px;}
	.resume-download a{padding-top:11px;width:67px;height:60px;}
	.resume-download-rus:after{left:68px;height:60px;}
	.column i{font-size:38px;}
	.column:hover p{font-size:14px;}
	.column:hover i{font-size:40px;margin:0 0 -1px 0;}
	.column:hover:after{border-top:12px solid transparent;border-bottom:12px solid transparent;border-right:18px solid rgba(150,150,150,1.0);left:118px;top:5px;}
	.active{top:5px;left:118px;border-top:12px solid transparent;border-bottom:12px solid transparent;border-right:18px solid rgba(150,150,150,1.0);}
	.column-resume,
	.column-portfolio,
	.column-contact{position:relative;}
	.column-resume{top:20px;left:1px;}
	.column-portfolio{top:40px;left:1px;}
	.column-contact{top:60px;left:1px;}

	/*.mobile-menu .fa-bars{display: block; position: absolute;}
	.dd-menu{display: flex; display: -webkit-flex; height: 320px; width: 220px; border-right: 1px solid grey; left: 0px;}*/}
	@media all and (max-width:320px){
		body{width:100vw;height:100vh;overflow:hidden;}
		.mobile-menu .fa-bars{display:block;}
	}
	@media only screen and (max-device-width:568px){
		body{width:100vw;height:320px;overflow:hidden;}
		.vertical-header{height:100%;width:220px;left:0px;}
		.vertical-header:after{left:220px;height:100vh;}
		.header-social-contacts{position:absolute;bottom:-170px;left:32px;display:flex;display:-webkit-flex;width:160px;text-indent:5px;font-size:20px;line-height:32px;}
		.header-social-contacts a i{padding-right:10px;color:rgb(100,100,100);}
		.header-social-contacts .fa-twitter{padding-right:0;}
		.header-social-contacts .fa-linkedin-square:hover{color:rgb(40,90,255);}
		.header-social-contacts .fa-github:hover{color:rgb(200,15,0);}
		.header-social-contacts .fa-facebook-square:hover{color:rgb(40,65,145);}
		.header-social-contacts .fa-twitter:hover{color:rgb(30,140,255);}
		.picture-wrapper{display:none;}
		.picture-wrapper-back{display:none;}
		.photo-title{display:none;}
		.resume-download{position:absolute;margin:0;bottom:-113px;left:40px;height:25px;width:136px;padding-top:8px;font-size:13px;}
		.resume-download a{padding-top:11px;width:67px;height:60px;}
		.resume-download-rus:after{left:68px;height:60px;}
		.column i{font-size:38px;}
		.column:hover p{font-size:14px;}
		.column:hover i{font-size:40px;margin:0 0 -1px 0;}
		.column:hover:after{border-top:12px solid transparent;border-bottom:12px solid transparent;border-right:18px solid rgba(150,150,150,1.0);left:118px;top:5px;}
		.active{top:5px;left:118px;border-top:12px solid transparent;border-bottom:12px solid transparent;border-right:18px solid rgba(150,150,150,1.0);}
		.column-resume,
		.column-portfolio,
		.column-contact{position:relative;}
		.column-resume{top:20px;left:1px;}
		.column-portfolio{top:40px;left:1px;}
		.column-contact{top:60px;left:1px;}

		/*.mobile-menu .fa-bars{display: block; position: absolute;}
		.dd-menu{display: flex; display: -webkit-flex; height: 320px; width: 220px; border-right: 1px solid grey; left: 0px;}*/}
		@media only screen and (max-device-width:320px){
			body{width:100%;height:568px;overflow:hidden;}
			.vertical-header{height:200px;width:100%;left:0px;top:0;}
			.vertical-header .column{display:inline-flex;display:-webkit-inline-flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
			.vertical-header:after{left:0;top:-300px;width:100%;height:59px;border:0;border-bottom:1px solid grey;}
			.header-social-contacts{position:absolute;top:20px;left:40px;display:flex;display:-webkit-flex;width:160px;text-indent:5px;font-size:20px;line-height:32px;height:30px;}
			.header-social-contacts a i{padding-right:10px;color:rgb(100,100,100);}
			.header-social-contacts .fa-twitter{padding-right:0;}
			.header-social-contacts .fa-linkedin-square:hover{color:rgb(40,90,255);}
			.header-social-contacts .fa-github:hover{color:rgb(200,15,0);}
			.header-social-contacts .fa-facebook-square:hover{color:rgb(40,65,145);}
			.header-social-contacts .fa-twitter:hover{color:rgb(30,140,255);}
			.picture-wrapper{display:none;}
			.picture-wrapper-back{display:none;}
			.photo-title{display:none;}
			.resume-download{position:absolute;margin:0;top:20px;left:410px;height:25px;width:136px;padding-top:8px;font-size:13px;}
			.resume-download a{padding-top:11px;width:67px;height:60px;}
			.resume-download-rus:after{left:68px;height:60px;}
			.column i{font-size:30px;line-height:30px;z-index:999;}
			.column p{display:none;}
			.column:hover p{display:none;}
			.column:hover i{font-size:40px;margin:0 0 0 0;}
			.column:hover:after{display:none;}
			.active{top:14px;left:4px;border:12px solid transparent;border:12px solid transparent;border-bottom:18px solid rgba(150,150,150,1.0);margin:5px 0 0 0;padding:0;}
			.column-resume,
			.column-portfolio,
			.column-contact{position:absolute;}
			.column-resume{width:10px;height:10px;top:125px;left:115px;}
			.column-portfolio{width:10px;height:10px;top:125px;left:265px;}
			.column-contact{width:10px;height:10px;top:125px;left:415px}

			/*.mobile-menu .fa-bars{display: block; position: absolute;}
			.dd-meu{display: flex; display: -webkit-flex; height: 320px; width: 220px; border-right: 1px solid grey; left: 0px;}*/
			.container{width:100%;left:0;top:160px;}
			.resume-for-show .title{font-size:6vw;}
			.resume-for-show span:nth-child(2){left:30%;top:3.3vh;}
			.resume-for-show span:nth-child(4){left:30.5%;top:67vw;}
			.experience li,
			.education li{font-size:11px;}
			.experience li:nth-child(1){top:13.5vmax;right:172vw;}
			.experience li:nth-child(2){top:12.5vmax;right:105vw;}
			.experience li:nth-child(3){top:22.7vmax;right:173vw;}
			.experience li:nth-child(4){top:22vmax;right:117vw;}
			.experience li:nth-child(5){top:32vmax;right:176vw;}
			.education li:nth-child(1){top:62.6vmax;right:172.6vw;}
			.education li:nth-child(2){top:55.4vmax;right:116.5vw;}
			.education li:nth-child(3){top:47.7vmax;right:172.7vw;}
			.education li:nth-child(4){top:46vmax;right:117.4vw;}
			.skills{left:10vw;}
			.canvas{left:10%;}
			.social-contacts{top:115px;left:18%;}
			footer{right:200px;}
		}
