			/*Main configs*/
html{
	font-family: 'Clear Sans';
	background: rgb(255, 255, 255);
	font-size: 100%;
	color: rgb(109, 110, 113);
	height: 100%;
}
body{
	min-width: 320px;
	min-height: 100%;
}
.wrapper{
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	overflow: hidden;
}
.centerized {
	position: relative;
	margin: 0 auto;
	width: 70%;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	overflow: hidden;
}
/*section, h1, li, img, .header-social, .col-right-bottom, .eb-social, .header-nav li, .wrapper{
	-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
	-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
	transition: width 1s ease-in-out, left 1.5s ease-in-out;
}*/
*:focus{
	outline: none;
}
/*h1{
	display: inline-block;
	font-family: 'Clear Sans';
	font-weight: 300;
	font-size: 42px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
	text-indent: 2px;
	line-height: 75px;
}*/
a{
	text-decoration: none;
}
			/*Header block*/
header{
	width: 100%;
}
.header-top {
	position: relative;
	width: 100%;
	height: 94px;
	padding: 0 1%;
	background-color: #f7f7f7;
}
.header-top > * {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.logo {
	width: 150px;
	height: 47px;
}
.feedback {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.phone span {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 10px 0;
	color: #767676;
	font: 400 normal 18px Arimo;
	line-height: 24px;
}
.feedback-button {
	margin: 10px 0 0 20px;
	width: 121px;
	height: 36px;
	background: #282c37;
	color: white;
	font: 400 normal 15px Arimo;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
}
.feedback-show {
	position: absolute;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	top: 280px;
	left: 36%;
	width: 466px;
	height: 578px;
	background-color: white;
	z-index: 99;
	visibility: hidden;
	opacity: 0;
}
.blackout-show {
	position: absolute;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	visibility: visible;
	z-index: 1;
}
.blackout-hide {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}
.feedback-show form {
	position: relative;
	width: 341px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}
.close {
	position: absolute;
	top: -27px;
	right: -27px;
	width: 27px;
	height: 27px;
	background: white url(../img/times.png) no-repeat 50%;
	background-size: 50%;
	cursor: pointer;
}
.feedback-show form h2 {
	margin: 0 0 25px 0;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	color: #535353;
	font: 700 normal 24px Arimo;
	text-transform: uppercase;
}
.feedback-show input {
	margin: 0 0 18px 0;
	text-indent: 15px;
	padding: 0 15px 0 0;
	width: 341px;
	height: 41px;
	background-color: white;
	border: 1px solid #c3c3c3;
}
.feedback-show label {
	position: relative;
	margin: 0 0 3px 0;
	font: 400 normal 14px Arimo;
	color: #535353;
}
.feedback-show textarea {
	margin: 0 0 20px 0;
	padding: 5px 15px;
	font: 400 normal 14px Arimo;
	width: 326px;
	height: 137px;
	background-color: white;
	border: 1px solid #c3c3c3;
	resize: none;
}
.feedback-show button {
	position: relative;
	margin: 0 -17px 0 0;
	-ms-flex-item-align: end;
	        -webkit-align-self: flex-end;
	        align-self: flex-end;
	width: 128px;
	height: 42px;
	border: 0;
	background-color: #282c37;
	color: white;
	font: 700 normal 18px Arimo;
	text-transform: uppercase;
	cursor: pointer;
}
.field-required:after {
	position: absolute;
	top: 0px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	content: '*';
	color: #c61015;
}
.field-required:nth-child(2):after {
	left: 41px;
}
.field-required:nth-child(4):after {
	left: 44px;
}
.field-required:nth-child(6):after {
	left: 39px;
}

.nav-title {
	position: absolute;
	top: 157px;
	left: 3%;
	display: none;
	color: #767676;
	font-size: 3em;
	z-index: 9;

}
.bars-hader-nav {
	position: absolute;
	display: none !important;
	right: 1.5%;
	top: 2.6%;
	font-size: 3em !important;
	cursor: pointer;

}
header nav {
	width: 100%;
	min-height: 80px;
	padding: 0 1%;
	background-color: #282c37;
}
.header-nav {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	margin: 30px 0 0 0;
	overflow: hidden;

}
.header-nav li, .footer-nav li {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	padding: 0 5% 0 5%;
	border-right: 1px solid #424757;
}
.header-nav li:first-child {
	padding: 0 5% 0 0;
}
.header-nav li:last-child {
	padding: 0 0 0 5%;
	border: 0;
}
.header-nav li a, .footer-nav li a {
	flex-flow: row nowrap;
	color: white;
	font: 400 normal 15px Arimo;
	text-transform: uppercase;
	line-height: 21px;
}
.header-nav li a:hover, .header-nav li a:active, .footer-nav li a:hover, .footer-nav li a:active {
	text-decoration: underline;
}
/*Slider*/
.slider {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    height: 537px;
    overflow: hidden;
}
.widget-slider{
    position: relative;
}
.widget-slider-show{
    position: relative;
    width: 100%;
}
.widget-slider-wrap{
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 4200px;
}
.widget-slider-img{
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1400px;
    height: 100%;
    overflow: hidden;
}
.widget-slider-show img {
	position: relative;
	width: 100%;
}
.widget-slider-nav{
    position: absolute;
    bottom: 3%;
    left: 50%;
}
.widget-slider-nav li{
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 5px;
    width: 12px;
    height: 12px;
    background: rgba(40, 44, 55, .5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 9;
}
.widget-slider-pointer{
    content: '';
    position: absolute;
    margin-left: 250px;
    margin-top: 25px;
    opacity: .4;
    background: #282c37;
    z-index: 99;
}
/*Content container*/
.content {
	position: relative;
}
.breadcrumbs {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	margin: 40px 0 37px 0;
}
.breadcrumbs li {
	font: 400 normal 14px Arimo;
	line-height: 22px;
}
.breadcrumbs li a {
	position: relative;
	color: #282c37;
}
.breadcrumbs li a i {
	position: relative;
	font-size: 14px;
	padding: 0 5px 0 25px;
	color: #7e7e7e;
}
.breadcrumbs .active {
	color: #767676;
}
.breadcrumbs li a:first-child {
	padding: 0 15px 0 0;
}
.breadcrumbs li a:active, .breadcrumbs li a:hover {
	color: #767676;
}
/*Main-cont*/
.main-cont {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
/*Aside*/
.fa-list {
	position: absolute;
	display: none !important;
	right: 1.5%;
	top: 2.6%;
	font-size: 3em !important;
	cursor: pointer;
	color: #767676;

}
.list-title {
	position: absolute;
	top: 21px;
	left: 2%;
	display: none;
	color: #767676;
	font-size: 3em;
	z-index: 9;

}
.leftblock {
	position: relative;
	width: 179px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
}
.items-list {
	font: 400 normal 16px Arimo;
	margin: 0 0 75px 0;
}
.items-list li {
	color: #767676;
	line-height: 30px;
	cursor: pointer;
}
.items-list li:active, .items-list li:focus, .items-list li:hover {
	color: #282c37;
}
.items-list-submenu li {
	list-style: disc inside;
	text-indent: 10px;
	color: #767676;
	font-size: 14px;
	line-height: 22px;
}
.items-list-submenu li:active, .items-list-submenu li:hover {
	color: #010101;
	text-decoration: underline;
}
.items-list-submenu .active-item {
	color: #010101;
	text-decoration: underline;
}
.price-list {
	position: relative;
	margin: 0 0 85px 60px;
	color: #282c37;
	font: 700 normal 16px Arimo;
	line-height: 25px;
}
.price-list:before {
	position: absolute;
	top: -10px;
	left: -55px;
	width: 42px;
	height: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	content: '';
	background-image: url(../img/price-list.png);
	background-repeat: no-repeat;
}
/*Centerblock*/
.centerblock {
	position: relative;
	width: 80%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	overflow: hidden;
}
.items {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.item-container {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	text-align: center;
	margin: 0 23px 21px 0;
	width: 242px;
	height: 380px;
	background-color: white;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
}
.item-pic {
	margin: 15px 0 0 0;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	width: 210px;
	height: 209px;
	background-color: #f7f7f7;
	overflow: hidden;
}
.item-description {
	margin: 19px;
	color: #767676;
	font: 400 normal 16px Arimo;
	line-height: 24px;
	text-transform: uppercase;
}
.buy-cont {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid #e4e4e4;;
}
.price {
	margin: 15px 0 15px 20px;
	color: #444;
	font: 700 normal 28px Arimo;
	line-height: 18px;
}
.add-to-busket {
	position: relative;
	margin: 15px 20px 15px 0;
	width: 28px;
	height: 21px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-image: url(../img/addtobasket.png);
	background-repeat: no-repeat;
}
.items-pages {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font: 400 normal 14px Arimo;
	padding: 20px 0 40px 0;
	border-bottom: 1px solid #777;
}
.items-pages li {
	padding: 0 20px 0 0;
	line-height: 22px;
}
.items-pages li a {
	color: #767676;
}
.items-pages li a:active {
	color: #444;
	font-size: 18px;
}
.items-pages .active-page {
	color: #444;
	font-size: 18px;
}
.row {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 40px 0 0 0;
}
.col{
	width: 365px;
	height: 233px;
	margin: 0 0 85px 0;
}
.col p {
	color: #767676;
	font: 400 normal 14px Arimo;
	line-height: 22px;
}
/*Footer*/
footer {
	position: relative;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 219px;
	border-top: 1px solid #eaeaea;
	background-color: white;
	box-shadow: inset 0.8px 0.6px 0 rgba(227, 227, 227, 0.75);
}
footer .centerized {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
footer span {
	margin: 50px 0 0 0;
	width: 138px;
	font: 400 normal 14px Arimo;
	line-height: 20px;
}
.footer-nav {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 50px 0 0 0;
}
.footer-nav li {
	padding: 0 65px 0 0;
	border: none;
}
.footer-nav li:last-child {
	padding: 0;
}
.footer-nav li a {
	color: #4c5059;
}




@media all and (max-width: 1050px){
	.header-nav li, .footer-nav li {padding: 0 3% 0 3%;}
	.header-nav li:first-child {padding: 0 3% 0 0;}
	.header-nav li:last-child {padding: 0 0 0 3%;}
}
@media all and (max-width: 846px){
	.centerized {width: 95%; padding: 0 1%;}
	.feedback-show {left: 15%;}
}
@media all and (max-width: 620px){
	.header-nav li, .footer-nav li {padding: 0 2% 0 2%;}
	.header-nav li:first-child {padding: 0 2% 0 0;}
	.header-nav li:last-child {padding: 0 0 0 2%;}
	footer {min-height: 260px;}
	footer .centerized {display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center;}
	footer span {margin: -10px 0 0 0;}
	.footer-nav {position: relative; display: none; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin: 25px 0 10px 0;}
	.footer-nav li {padding: 0 0 10px 0; border: none;}
}
@media all and (max-width: 600px){
	.feedback-show {left: 5%;}
}
@media all and (max-width: 570px){
	.slider {display: none;}
	.logo {width: 120px; height: 47px;}
	.header-top {height: 145px;}
	.feedback {-webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap;}
	.nav-title {display: -webkit-flex;display: -ms-flexbox;display: flex;}
	.bars-hader-nav {display: -webkit-flex !important;display: -ms-flexbox !important;display: flex !important; top: 160px; right: 2.8%; z-index: 9;}
	.header-nav {display: none !important;-webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-align-items: flex-start; -ms-flex-align: flex-start; align-items: flex-start; overflow: hidden;}
	.header-nav-active {margin: 80px 0 0 0;display: -webkit-flex !important;display: -ms-flexbox !important;display: flex !important;-webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-align-items: flex-start; -ms-flex-align: flex-start; align-items: flex-start;}
	.header-nav-active li{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; padding: 0 0 10px 0; border-right: 0;}
	.header-nav-active li:first-child {padding: 0 0 10px 0;}
	.header-nav-active li:last-child {padding: 0 0 4% 0; border: 0;}
	.header-nav li{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; padding: 0 0 10px 0; border-right: 0;}
	.header-nav li:first-child {padding: 0 0 10px 0;}
	.header-nav li:last-child {padding: 0 0 4% 0; border: 0;}
	.content .centerized {width: 101%; margin: 0 !important;}
	.main-cont {position: relative; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap;}
	.leftblock {background-color: #282c37; min-height: 100px; width: 100%; margin: 0 0 50px -10px; -webkit-flex-flow: column wrap; -ms-flex-flow: column wrap; flex-flow: column wrap; overflow: hidden;}
	.list-title {display: -webkit-flex;display: -ms-flexbox;display: flex;}
	.items-list {display: none !important; width: 100%;}
	.items-list-active {display: -webkit-flex !important;display: -ms-flexbox !important;display: flex !important; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%;}
	.items-list-active {margin: 80px 0 40px 20px;}
	.items-list-active li {color: #767676; line-height: 30px; cursor: pointer;}
	.items-list-active li:active, .items-list-active li:focus, .items-list-active li:hover {color: white;}
	.items-list-active-submenu li {
		list-style: disc inside; text-indent: 10px; color: #767676; font-size: 14px; line-height: 17px;}
	.items-list-submenu li:active, .items-list-submenu li:hover {
		color: white; text-decoration: underline;}
	.items-list-active-submenu .active-item {color: white; text-decoration: underline;}
	.price-list {display: none;}
	.fa-list {display: -webkit-flex !important;display: -ms-flexbox !important;display: flex !important; right: 5%; top: 25px; color: #767676 !important; z-index: 9;}
	.centerblock {width: 100%;}
	.item-container {margin: 0 23px 21px 0;}
	.row {display: -webkit-inline-flex;display: -ms-inline-flexbox;display: inline-flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 25px 0 0 0;}
	.feedback-show {top: 80px; left: 20%; width: 270px; height: 500px;}
	.feedback-show form { width: 250px !important;}
	.feedback-show form h2 {margin: 5px 0 15px 0; font: 700 normal 24px Arimo;}
	.feedback-show input {width: 230px !important; height: 41px;}
	.feedback-show label {}
	.feedback-show textarea {width: 215px !important; height: 85px;}
	.feedback-show button {width: 128px; height: 42px; font: 700 normal 18px Arimo; margin: 0 3px 0 0;}
	.field-required:nth-child(2):after {left: 41px;}
	.field-required:nth-child(4):after {left: 44px;}
	.field-required:nth-child(6):after {left: 39px;}
}
@media all and (max-width: 400px){
	.feedback-show {left: 10%;}
}
@media all and (max-width: 370px){
	.feedback-show {left: 4%;}
	.nav-title {right: 25%;}
	.list-title {right: 37%;}
	.bars-hader-nav {right: 9%;}
	.fa-list {right: 20%;}
}
