html{
	background: rgb(255, 255, 255);
	min-height: 100hv;
	font-family: sans-serif;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}
body{
	min-width: 880px;
	min-height: 300px;
	margin: 0;
/*	padding: 0 15px;*/
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex: auto;
}
.wrapper{
	position: relative;
	width: 100%;
	height: 100hv;
	margin: 0 auto;
	flex-grow: 1;
	box-sizing: border-box;
	display: inline-flex;
}
.wrapper:after{
	content: '';
	clear: both;
	display: flex;
}
.container{
	position: absolute;
	display: flex;
	height: 100%;
	/*background: grey;*/
}
.typing{
	position: relative;
	margin-top: 60px;
	margin-left: 20%;
	font-size: 24px;
	width: 72%;
	color: grey;
	line-height: 33px;
}
.social-contacts{
	position:absolute;
	top: 250px;
	left: 50%;
	width: 290px;
	text-indent: 12px;
	font-size: 41px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	line-height: 100px;
}
.social-contacts:hover{
	border-top: 1px dashed grey;
	border-bottom: 1px dashed grey;
}
.social-contacts a i{
	padding-right: 10px;
	color: rgb(100, 100, 100);
}
.social-contacts .fa-twitter{
	padding-right: 0;
}
.social-contacts .fa-linkedin-square:hover{
	color: rgb(40, 90, 255);
}
.social-contacts .fa-github:hover{
	color: rgb(200, 15, 0);
}
.social-contacts .fa-facebook-square:hover{
	color: rgb(40, 65, 145);
}
.social-contacts .fa-twitter:hover{
	color: rgb(30, 140, 255);
}


footer{
	position: absolute;
	bottom: -412px;
	right: 10px;
	margin-top: 10px;
}
footer span{
	font-family: ;
	font-size: 10px;
	color: grey;
}
footer span i{
	text-decoration: underline;
	font-style: italic;
}
@media all and (max-width: 900px){
	.social-contacts{left: 55%; top: 290px;}
}

