html{
	background: rgb(255, 255, 255);
	min-height: 100hv;
	font-family: sans-serif;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}
body{
	min-width: 880px;
	min-height: 300px;
	margin: 0;
/*	padding: 0 15px;*/
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex: auto;
}
.wrapper{
	position: relative;
	width: 100%;
	height: 100hv;
	margin: 0 auto;
	flex-grow: 1;
	box-sizing: border-box;
	display: inline-flex;
}
.wrapper:after{
	content: '';
	clear: both;
	display: flex;
}
.container{
	position: absolute;
	display: flex;
	height: 100%;
	/*background: grey;*/
}
.typing{
	position: relative;
	margin-top: 60px;
	margin-left: 20%;
	font-size: 24px;
	width: 72%;
	color: grey;
	line-height: 33px;
}


footer{
	position: absolute;
	bottom: -412px;
	right: 10px;
	margin-top: 10px;
}
footer span{
	font-family: ;
	font-size: 10px;
	color: grey;
}
footer span i{
	text-decoration: underline;
	font-style: italic;
}

