@font-face {
  font-family: 'Roboto-Medium';
  src: url('../font/Roboto-Medium.ttf')  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../font/Roboto-Thin.ttf')  format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../font/Roboto-Light.ttf')  format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../font/Roboto-Bold.ttf')  format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../font/HelveticaNeueLTStd-Bd.ttf')  format('truetype');
  font-weight: 600;
}

			/*Main configs*/
html {
	font-family: 'Clear Sans';
	background-color: rgb(255, 255, 255);
	font-size: 100%;
	color: rgb(109, 110, 113);
	height: 100%;
}
body {
	min-width: 320px;
	min-height: 100%;
}
.wrapper {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	overflow: hidden;
}
/*section, h1, li, img, .header-social, .col-right-bottom, .eb-social, .header-nav li, .wrapper{
	-webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
	-o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
	transition: width 1s ease-in-out, left 1.5s ease-in-out;
}*/
*:focus {
	outline: none;
}
/*h1{
	display: inline-block;
	font-family: 'Clear Sans';
	font-weight: 300;
	font-size: 42px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
	text-indent: 2px;
	line-height: 75px;
}*/
a {
	text-decoration: none;
}
::-webkit-media-controls {
  	display:none !important;
}
video::-webkit-media-controls {
  	display:none !important;
}
video::-webkit-media-controls-enclosure {
  	display:none !important;
}
			/*General*/
.header-section, .synopsis-section, .gallery-section {
	position: relative;
	width: 100%;
	min-height: 1079px;
	overflow: visible;
}
			/*Header section*/
.header-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	background: #030406 url(../img/header-bg.jpg);
	background-repeat: no-repeat;
}
header {
	position: relative;
	width: 100%;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.blackout-show {
	position: absolute;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	visibility: visible;
	z-index: 1;
}
.blackout-hide {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	z-index: 1;
}
.logo {
	position: relative;
	margin: 87px 0 0 0;
	width: 55.1%;
	height: 59px;
	background-image: url(../img/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
}
.menu, .video-container  {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99;
}
.nav-list .close-menu {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 64px;
	height: 64px;
	background-image: url(../img/close.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.menu-bar {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 53px 0 0 58px;
	width: 50px;
	height: 20px;
	background-image: url(../img/menu-bar.png);
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
}
.menu {
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav-list {
	position: absolute;
	top: 133px;
	left: 41%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav-list li {
	margin: 0 0 20% 0;
	color: white;
	font: 100 normal 3.7em 'Roboto-Thin';
}
.nav-list li:last-child {
	margin: 0;
}
.nav-list li a {
	color: white;
	text-transform: uppercase;
}
.nav-list li:nth-child(2) a:hover {
	text-shadow: -15px 0 8px rgba(150, 150, 150, .8), 15px 0 8px rgba(150, 150, 150, .8);
}
.nav-list li:nth-child(3) a:hover {
	text-shadow: -15px 0 8px rgba(150, 150, 150, .8), 15px 0 8px rgba(150, 150, 150, .8);
}
.nav-list li:nth-child(4) a:hover {
	text-shadow: -15px 0 8px rgba(150, 150, 150, .8), 15px 0 8px rgba(150, 150, 150, .8);
}
.nav-list li:last-child a:hover {
	text-shadow: -15px 0 8px rgba(150, 150, 150, .8), 15px 0 8px rgba(150, 150, 150, .8);
}
.social {
	margin: 54px 40px 0 0;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
.social div {
	position: relative;
	margin: 0 25px 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}
.vimeo {
	width: 26px;
	height: 21px;
	background-image: url(../img/vimeo-big.png);
}
.youtube-play {
	width: 28px;
	height: 20px;
	background-image: url(../img/youtube-big.png);
}
.twitter {
	margin: 0;
	width: 26px;
	height: 21px;
	background-image: url(../img/twitter-big.png);
}
.vimeo:hover {
	background-image: url(../img/vimeo-hover-big.png);
}
.youtube-play:hover {
	background-image: url(../img/youtube-hover-big.png);
}
.twitter:hover {
	background-image: url(../img/twitter-hover-big.png);
}
.watch-video {
	position: absolute;
	bottom: 60px;
	left: 43%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	width: 259px;
	height: 34px;
	background-image: url(../img/video-play.png);
}
.watch-video:hover {
	background-image: url(../img/video-play-hover.png);
}
.video-container {
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	        -webkit-align-content: center;
	        align-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 900px;
	background-color: #181818;
}
.attention {
	position: relative;
	display: none;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	font: 600 normal 24px 'Roboto-Bold';
}
.media-video {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	width: 1600px;
	height: 680px;
	margin: 0 0 50px 0;
	background: #181818 url(../img/video-cover.jpg) 100% 100% / cover no-repeat ;
}
.close-video {
	position: relative;
	top: -145px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	background-image: url(../img/close.png);
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 51px;
	height: 51px;
}
.video-like {
	position: absolute;
	top: 126px;
	right: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 45px;
	height: 35px;
	opacity: 0.8;
	background-color: #172322;
	border-radius: 5px;
	cursor: pointer;
}
.like {
	margin: 2px 0 0 0;
	width: 21px;
	height: 14px;
	background-image: url(../img/like.png);
	background-repeat: no-repeat;
}
.video-like span {
	margin: 0 0 0 -2px;
	color: white;
	font-family: 'Helvetica';
	font-size: 8px;
	line-height: 19px;
	text-transform: uppercase;
}
.media-controls {
	position: absolute;
	bottom: 12px;
	left: 15px;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	width: 98%;
	overflow: hidden;
	z-index: 2147483647;
}
.play-pause-btn {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 65px;
	height: 40px;
	opacity: 0.8;
	margin: 0 15px 0 0;
	background-color: #172322;
	border-radius: 5px;
	z-index: 9;
	cursor: pointer;
}
.play {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: white;
	font-size: 31px;
	opacity: 1;
}
.pause {
	display: none;
	opacity: 0;
	color: white;
	font-size: 20px;
}
.controls-box {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 94%;
	height: 32px;
	opacity: 0.8;
	background-color: #172322;
	border-radius: 5px;
	overflow: hidden;
}
.progress-bar {
	position: relative;
	margin: 0 0 0 10px;
	width: 90%;
	height: 12px;
	border: 1px solid #9ca0a0;
	cursor: pointer;
    z-index: 99;
}
progress::-webkit-progress-bar {
	height: 10px;
	border: 1px solid #172120;
	background-color: transparent;
}
.progress-bar::-webkit-progress-value {
	background-color: #00adef;
}
.progress-bar::-moz-progress-bar {
	background-color: #00adef;
}
.buffer {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 12px;
    left: 12px;
    width: 0;
    height: 8px;
    background-color: #6b6f70;
    z-index: -1;
  
}
.hd-trigger {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	/*align-self: flex-end;*/
	font: 600 normal 16px 'Helvetica';
	color: #6b6f70;
	line-height: 20px;
	margin: 0 10px 0 10px;
	text-transform: uppercase;
	cursor: pointer;
}
.hd-trigger-active {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	font: 600 normal 16px 'Helvetica';
	color: #6b6f70;
	line-height: 20px;
	margin: 0 10px 0 10px;
	color: #00adef;
	text-transform: uppercase;
	cursor: pointer;
}
.volume {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 0 0 11px;
	width: 33px;
	height: 12px;
	background-color: transparent;
	cursor: pointer;
}
.volume li {
	width: 3px;
	height: 12px;
	background-color: #6b6f70;
	cursor: pointer;
}
.volume .volume-active {
	width: 3px;
	height: 12px;
	cursor: pointer;
	background-color: #00adef;
}
.volume li:last-child {
}
.icon-resize-small {
	color: white;
	font-size: 13px;
	margin: 0 8px 0 0;
	cursor: pointer;
}
.icon-resize-full-alt {
	display: none;
	color: white;
	font-size: 13px;
	margin: 0 8px 0 0;
	cursor: pointer;
}
			/*Synopsis section*/
.row {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
.row .col {
	position: relative;
	width: 50%;
}
.col-left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
article {
	padding: 50px 70px 0 70px;
	width: 50.5%;
	min-height: 765px;
	border: 1px solid #d4d4d4;
	border-right: 0;
}
article h3 {
	margin: 0 0 30px 0;
	color: #304050;
	font: 400 normal 24px 'Roboto-Medium';
	text-transform: uppercase;
}
article p {
	margin: 0 0 25px 0;
	font: 400 normal 15px 'Roboto-Medium';
	line-height: 26px;
}
article p a {
	font: 400 normal 15px 'Roboto-Medium';
	color: #197bce;
	text-decoration: underline;
}
article p:last-child {
	margin: 0;
}
.articles-nav {
	margin: 0 0 25px 0;
}
.page-number {
	color: #3c3c3c;
	font: 100 normal 30px 'Roboto-Thin';
	margin: 0 20px;
}
.prev-page, .next-page {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 11px;
	height: 15px;
	background-repeat: no-repeat;
}
.read-more {
	margin: 20px 0 105px;
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
	align-items: center;
	justify-content: center;
	width: 148px;
	height: 40px;
	border: 0;
	background-color: #898989;
	box-shadow: 0 2px 0 #757474;
	color: white;
	font: 100 normal 14px 'Roboto-Thin';
	text-transform: uppercase;
	cursor: pointer;
}
.prev-page {
	background-image: url(../img/arrow-left.png);
}
.next-page {
	background-image: url(../img/arrow-right.png);
}
.col-right {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	height: 100%;
}
.col-top {
	position: relative;
	background-image: url(../img/synapsis-bg.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
}
.col-right-top {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 590px;
	background-size: 2400px;
	background-position: 50% -400px;
}
.whiteout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background: transparent; /* Feedback color */
	background: rgba(128, 128, 128, .4); /* For modern browsers */
	z-index: 1;
}
.col-right-top h1 {
	position: relative;
	color: #304050;
	font: 100 normal 100px 'Roboto-Thin';
	text-transform: uppercase;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	z-index: 2;
}
.col-right-bottom {
	height: 490px;
	background-size: 2500px;
	background-position: 48% 0;
}

			/*Gallery section*/
.gallery-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	background-color: #030406;
}
.gallery-section .title {
	margin: 40px 70px 0 0;
	color: #8c99b4;
	font: 100 normal 30px 'Roboto-Thin';
	text-transform: uppercase;
	-ms-flex-item-align: end;
	        -webkit-align-self: flex-end;
	        align-self: flex-end;
}
.slider-nav {
	position: relative;
	margin: -45px 0 0 0;
	width: 70px;
	-ms-flex-item-align: center;
	        -webkit-align-self: center;
	        align-self: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
.slide-left, .slide-right {
	background-repeat: no-repeat;
	width: 23px;
	height: 45px;
	cursor: pointer;
}
.slide-left {
	background-image: url(../img/chevron-left.png);
}
.slide-right {
	background-image: url(../img/chevron-right.png);
}
.slide-left:hover {
	background-image: url(../img/chevron-left-hover.png);
}
.slide-right:hover {
	background-image: url(../img/chevron-right-hover.png);
}
.slider-container {
	position: relative;
	margin: 30px 0 0 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	width: 100%;
	height: 824px;
	background-color: white;
}
.extras-open {
	position: absolute;
	width: 100px;
	height: 50px;
	padding: 0 10px 0 0;
	color: white;
	display: none;
	flex-flow: column nowrap;
	align-items: flex-end;
	font-size: 50px;
	background-color: rgb(80, 80, 80);
	top: 20px;
	left: -24px;
	cursor: pointer;
}
.extras {
	position: relative;
	padding: 75px 0 0 80px;
	width: 35.4%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	background-color: rgba(0, 0, 0, .8);
}
.extras h3 {
	color: #8c99b4;
	font: 100 normal 30px 'Roboto-Thin';
	text-transform: uppercase;
}
.extras-list li a{
	margin: 0 10px 0 0;
	color: #999;
	font: 400 normal 18px 'Roboto-Medium';
	line-height: 28px;
	text-decoration: underline;
}
.extras-list li a i{
	font-family: Arial;
}
.extras-active {
	padding: 50px 0;
}
.extras-active a {
	font: 400 normal 16px 'Roboto-Medium';
	text-transform: uppercase;
}
.extras-close {
	position: absolute;
	top: 75px;
	right: 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 18px;
	height: 17px;
	background-image: url(../img/close-small.png);
	cursor: pointer;
}
			/*Footer section*/
footer {
	position: relative;
	width: 100%;
	height: 520px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	background: #030406 url(../img/footer-bg.jpg);
	background-repeat: no-repeat;
	background-size: 1583px;
	background-position: 0 60px;
}
.footer-top {
	position: relative;
	padding: 0 0 30px 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 275px;
	background-color: rgba(0, 0, 0, .9);
}
.footer-top:after {
	position: absolute;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #181c25;
	background-image: linear-gradient(to right, #4f6985 0%, #14e8ee 38%, #4f6985 50%, #14e8ee 100%);
}
.footer-top span {
	color: #959595;
	font: 100 normal 11px 'Roboto-Thin';
	line-height: 34px;
	text-decoration: underline;
	text-transform: uppercase;
}
.input-cont {
	position: relative;
	margin: 0 0 50px 0;
}
.input-cont input[type=button] {
	color: white;
	font: 100 normal 16px 'Roboto-Thin';
	text-transform: uppercase;
	width: 317px;
	height: 44px;
	background-color: #ff6c6c;
	background-image: linear-gradient(to right, #506783 0%, #0bfcfe 100%);
	border: none;
	cursor: pointer;
}
.input-cont:after {
	position: absolute;
	content: '';
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	bottom: 15px;
	right: 15px;
	width: 9px;
	height: 16px;
	background-image: url(../img/chevron.png);
	cursor: pointer;
}
.fill-form {
	position: relative;
	margin: 0 0 50px 0;
	display: none;
	opacity: 0;
}
.fill-form input[type=email] {
	position: relative;
	color: white;
	text-indent: 10px;
	padding: 0 40px 0 0;
	font: 100 normal 16px 'Roboto-Thin';
	text-transform: uppercase;
	width: 277px;
	height: 44px;
	border: 0;
	background: #030406 url(../img/input-border.png);
	background-repeat: no-repeat;
}
.fill-form button {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 40px;
	height: 42px;
	cursor: pointer;
	border: 0;
	background: transparent;
}
.fill-form button:hover {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 40px;
	height: 42px;
	border: 0;
	background-image: url(../img/button-bg.png);
	background-repeat: no-repeat;
	z-index: 2;
}
.fill-form:after {
	position: absolute;
	content: '';
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	bottom: 13px;
	right: 16px;
	width: 9px;
	height: 16px;
	background-image: url(../img/chevron.png);
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1;
}
.success {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 0 50px 0;
	display: none;
	opacity: 0;
	background-color: rgb(85, 175, 125);
}
.footer-bottom {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 245px;
	background-color: rgba(3, 4, 6, .7);
}
.logo-mini {
	margin: 20px 0 0 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 57px;
	height: 56px;
	opacity: 0.5;
	background-image: url(../img/logo-blr.png);
	background-repeat: no-repeat;
}
.social-footer {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}
.social-footer div {
	position: relative;
	margin: 0 25px 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
}
.social-footer .vimeo {
	width: 20px;
	height: 16px;
	background-image: url(../img/vimeo.png);
}
.social-footer .youtube-play {
	width: 22px;
	height: 16px;
	background-image: url(../img/youtube.png);
}
.social-footer .twitter {
	margin: 0;
	width: 20px;
	height: 17px;
	background-image: url(../img/twitter.png);
}
.social-footer .vimeo:hover {
	background-image: url(../img/vimeo-hover.png);
}
.social-footer .youtube-play:hover {
	background-image: url(../img/youtube-hover.png);
}
.social-footer .twitter:hover {
	background-image: url(../img/twitter-hover.png);
}
.footer-bottom span {
	margin: 20px 0 30px 0;
}

@media all and (max-width: 1600px) {
	.header-section {background-size: 1920px; background-position: 40% 0;}
}
@media all and (max-width: 1440px) {
	.header-section {background-size: 1920px; background-position: 40% 0;}
	article p:nth-child(5), article p:nth-child(6) {display: none;}
	.extras {padding: 20px 0 0 35px; width: 40%; height: 100%;}
}
@media all and (max-width: 1024px) {
	.header-section {min-height: 600px; width: 100%; background-image: url(../img/header-bg.jpg); background-repeat: no-repeat; background-size: 1200px; background-position: 40% 11px;}
	.nav-list .close-menu {top: 0; left: 4%; background-size: 80%;}
	.nav-list {top: -15px; left: 41%; display: flex; flex-flow: column nowrap; align-items: center;}
	.nav-list li {margin: 0 0 19% 0; font: 100 normal 44px 'Roboto-Thin';}
	.watch-video {bottom: 55px; left: 35%;}
	.close-video {top: -95px; background-image: url(../img/close.png); background-size: 80%; width: 51px; height: 51px;}
	.video-container {top: -100px; height: 468px;}
	.media-video {width: 1000px; height: 340px; margin: 0 0 50px 0; background: #181818 url(../img/video-cover.jpg) 60% 5% / 1200px no-repeat ;}
	.video-like {top: 15px; right: 33px;}
	.media-controls {width: 90%;}
	.play-pause-btn {width: 57px; height: 33px;}
	.play {font-size: 22px;}
	.pause {font-size: 11px;}
	.synopsis-section {min-height: 700px;}
	.row .col {width: 100%;}
	.col-left {padding: 25px 30px 0 20px; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
	article {width: 95%; margin: 0; padding: 0; min-height: 580px; border: 0;}
	.read-more {margin: 0 0 20px 0; align-self: center;}
	.col-right-top {height: 400px; background-size: 1900px; background-position: 50% -316px;}
	.col-right-top h1 {font: 100 normal 75px 'Roboto-Thin';}
	.col-right-bottom {height: 300px; background-size: 1800px; background-position: 48% -64px;}
	.gallery-section {min-height: 547px;}
	.slider-container {height: 470px;}
	.extras {padding: 20px 0 0 35px; width: 40%; height: 100%;}
	.extras h3 {font: 100 normal 24px 'Roboto-Thin';}
	.extras-list li a{font: 400 normal 16px 'Roboto-Medium'; line-height: 24px;}
	.extras-active {padding: 15px 0;}
	.extras-close {top: 25px; right: 10%;}
}
@media all and (max-width: 848px) {
	.header-section {min-height: 400px; width: 100%; background-image: url(../img/header-bg.jpg); background-repeat: no-repeat; background-size: 850px; background-position: 40% -4px;}
	.logo {margin: 55px 0 0 -15px;}
	.nav-list .close-menu {top: 0; left: 13%; background-size: 50%;}
	.nav-list {top: -15px; left: 43%; display: flex; flex-flow: column nowrap; align-items: center;}
	.nav-list li {margin: 0 0 16% 0; font: 100 normal 27px 'Roboto-Thin';}
	.watch-video {bottom: 40px; left: 30%;}
	.close-video {top: -65px; background-image: url(../img/close.png); background-size: 50%; width: 51px; height: 51px;}
	.video-container {top: -100px; height: 400px;}
	.media-video {width: 901px; height: 258px; margin: 0 0 50px 0; background: #181818 url(../img/video-cover.jpg) 60% 5% / 1200px no-repeat ;}
	.video-like {top: 15px; right: 33px;}
	.play-pause-btn {width: 57px; height: 33px;}
	.play {font-size: 22px;}
	.pause {font-size: 11px;}
	.row {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap;}
	.row .col {width: 100%;}
	.col-left {padding: 25px 30px 0 20px; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
	article {width: 95%; margin: 0 0 25px 0; padding: 0; min-height: 440px; border: 0;}
	.gallery-section {min-height: 577px;}
	.slider-container {height: 470px;}
	.extras {padding: 20px 0 0 35px; width: 270px; height: 100%;}
	.extras-close {top: 25px; right: 20px;}
}
@media all and (max-width: 620px) {
	.header-section {min-height: 400px; width: 100%; background-image: url(../img/header-bg.jpg); background-repeat: no-repeat; background-size: 800px; background-position: 40% 8px;}
	.nav-list .close-menu {top: 0; left: 13%; background-size: 50%;}
	.nav-list {top: -15px; left: 40%; display: flex; flex-flow: column nowrap; align-items: center;}
	.nav-list li {margin: 0 0 12% 0; font: 100 normal 27px 'Roboto-Thin';}
	.watch-video {bottom: 40px; left: 30%;}
	.close-video {top: -65px; background-image: url(../img/close.png); background-size: 50%; width: 51px; height: 51px;}
	.video-container {top: -100px; height: 400px;}
	.media-video {width: 601px; height: 258px; margin: 0 0 50px 0; background: #181818 url(../img/video-cover.jpg) 60% 5% / 800px no-repeat ;}
	.video-like {top: 15px; right: 33px;}
	.play-pause-btn {width: 57px; height: 33px;}
	.play {font-size: 22px;}
	.pause {font-size: 11px;}
	.col-right-top {height: 400px; background-size: 1900px; background-position: 50% -316px;}
	.col-right-top h1 {font: 100 normal 75px 'Roboto-Thin';}
	.col-right-bottom {height: 300px; background-size: 1800px; background-position: 48% -64px;}
	.gallery-section {min-height: 577px;}
	.slider-nav {align-self: flex-start; align-items: flex-start; margin: -45px 0 0 50px;}
}
@media all and (max-width: 500px) {
	.nav-list .close-menu {top: 0; left: 13%; background-size: 50%;}
	.nav-list {top: 19px; left: 36%; display: flex; flex-flow: column nowrap; align-items: center;}
	.nav-list li {margin: 0 0 12% 0; font: 100 normal 27px 'Roboto-Thin';}
	.watch-video {bottom: 40px; left: 30%;}
	.logo {margin: 90px 0 0 -15px; width: 320px; height: 63px;}
	.menu-bar {margin: 20px 0 0 20px; width: 50px; height: 20px; background-size: 60%;}
	.social {margin: 20px 5px 0 0;}
	.vimeo {width: 26px; height: 21px; background-image: url(../img/vimeo.png);}
	.youtube-play {width: 28px; height: 20px; background-image: url(../img/youtube.png);}
	.twitter {margin: 0; width: 26px; height: 21px; background-image: url(../img/twitter.png);}
		.vimeo:hover {background-image: url(../img/vimeo-hover.png);}
	.youtube-play:hover {background-image: url(../img/youtube-hover.png);}
	.twitter:hover {background-image: url(../img/twitter-hover.png);}
	.watch-video {bottom: 40px; left: 40%; width: 60px; height: 36px;background-image: url(../img/play.png); background-repeat: no-repeat;}
	.watch-video:hover {background-image: url(../img/play-hover.png);}
	.col-right-top {height: 300px; background-size: 1300px; background-position: 50% -216px;}
	.col-right-top h1 {font: 100 normal 55px 'Roboto-Thin';}
	.col-right-bottom {height: 200px; background-size: 1200px; background-position: 48% -33px;}
	.slider-nav {align-self: flex-start; align-items: flex-start; margin: -40px 0 0 20px;}
	.gallery-section .title {margin: 25px 20px 0 0;-webkit-align-self: flex-end;-ms-flex-item-align: flex-end;align-self: flex-end;}
	.slider-container {height: 528px;}
	.extras {padding: 20px 0 0 35px; width: 100%; height: 200px;}
	.extras h3 {font: 100 normal 24px 'Roboto-Thin';}
	.extras-list li a{font: 400 normal 16px 'Roboto-Medium';line-height: 24px;}
	.extras-active {padding: 15px 0;}
	.extras-close {top: 25px; right: 10%;}
}
@media all and (max-width: 380px) {
	.logo {margin: 65px 0 0 -5px; width: 273px; height: 54px; background-image: url(../img/logo.png); background-size: 100%;}
}
@media all and (max-width: 320px) {
	.header-section {min-height: 277px; width: 100%; background-image: url(../img/header-bg.jpg); background-repeat: no-repeat; background-size: 500px; background-position: 40% -4px;}
	.logo {margin: 40px 0 0 -15px; width: 273px; height: 16px; background-size: 50%;}
	.menu-bar {margin: 20px 0 0 20px; width: 50px; height: 20px; background-size: 60%;}
	.nav-list .close-menu {top: 0; left: 15%; background-size: 50%;}
	.menu {flex-flow: column nowrap; justify-content: center; align-items: center;}
	.nav-list {top: 0; left: 30%; display: flex; flex-flow: column nowrap; align-items: center;}
	.nav-list li {margin: 0 0 5% 0; font: 100 normal 24px 'Roboto-Thin';}
	.close-video {top: -65px; background-image: url(../img/close.png); background-size: 50%; width: 51px; height: 51px;}
	.video-container {top: 0; height: 355px;}
	.media-video {width: 320px; height: 277px; margin: 0 0 50px 0; background: #181818 url(../img/video-cover.jpg) 59% 59% / 500px no-repeat ;}
	.media-controls {width: 85%;}
	.video-like {top: 15px; right: 33px;}
	.play-pause-btn {width: 57px; height: 32px;}
	.play {font-size: 22px;}
	.pause {font-size: 11px;}
	.social {margin: 20px 5px 0 0;}
	.vimeo {width: 26px; height: 21px; background-image: url(../img/vimeo.png);}
	.youtube-play {width: 28px; height: 20px; background-image: url(../img/youtube.png);}
	.twitter {margin: 0; width: 26px; height: 21px; background-image: url(../img/twitter.png);}
	.vimeo:hover {background-image: url(../img/vimeo-hover.png);}
	.youtube-play:hover {background-image: url(../img/youtube-hover.png);}
	.twitter:hover {background-image: url(../img/twitter-hover.png);}
	.watch-video {bottom: 40px; left: 40%; width: 60px; height: 36px;background-image: url(../img/play.png); background-repeat: no-repeat;}
	.watch-video:hover {background-image: url(../img/play-hover.png);}
	.row {display: -webkit-flex;display: -ms-flexbox;display: flex; -webkit-flex-flow: column-reverse nowrap; -ms-flex-flow: column-reverse nowrap; flex-flow: column-reverse nowrap;}
	.row .col {width: 100%;}
	.col-left {padding: 25px 30px 0 20px; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;}
	article {width: 271px; margin: 0 0 25px 0; padding: 0; min-height: 765px; border: 0;}
	.col-right-top {height: 197px; background-size: 900px; background-position: 54% -165px;}
	.col-right-top h1 {font-size: 38px; color: #304050;}
	.col-right-bottom {display: none;}
	.gallery-section {min-height: 620px;}
	.gallery-section .title {margin: 25px 0 0 -35px;-webkit-align-self: center;-ms-flex-item-align: center;align-self: center;}
	.slider-container {height: 528px;}
	.slider-nav {display: none;}
	.extras {padding: 20px 0 0 35px; width: 270px; height: 200px;}
	.extras h3 {font: 100 normal 24px 'Roboto-Thin';}
	.extras-list li a{font: 400 normal 16px 'Roboto-Medium';line-height: 24px;}
	.extras-active {padding: 15px 0;}
	.extras-close {top: 25px; right: 20px;}
}
